<?xml version="1.0"?>
<config>
    <modules>
        <Ip_OneCheckout>
            <version>1.0.5</version>
        </Ip_OneCheckout>
    </modules>
    <frontend>
	<secure_url>
	    <checkout_go>/checkout/go</checkout_go>
	</secure_url>
	<routers>
	    <checkout>
		<args>
		    <modules>
			<Ip_OneCheckout>Ip_OneCheckout</Ip_OneCheckout> 
		    </modules>
		</args>
	    </checkout>
	</routers>
        <layout>
            <updates>
                <onecheckout>
                    <file>magazento_checkout.xml</file>
                </onecheckout>
            </updates>
        </layout>
	<events>
	    <checkout_controller_onecheckout_save_order_after>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
	    </checkout_controller_onecheckout_save_order_after>
	</events>
        <translate>
            <modules>
                <Ip_OneCheckout>
                    <files>
                        <default>Ip_OneCheckout.csv</default>
                    </files>
                </Ip_OneCheckout>
            </modules>
        </translate>
    </frontend>
<!--    <admin>
        <routers>
	    <onecheckout>
		<use>admin</use>
		<args>
		    <module>Ip_OneCheckout</module>
		    <frontName>onestep</frontName>
		</args>
	    </onecheckout>
        </routers>
    </admin>-->
     <adminhtml>
<!--	<menu>
	    <Ip_Extensions>
		<title>Ip Extensions</title>
		<sort_order>71</sort_order>
		<children>
		    <onecheckout module="onecheckout">
			<title>OneCheckout</title>
			<sort_order>71</sort_order>
			<children>
			    <settings translate="title">
			      <title>Settings</title>
			      <sort_order>2</sort_order>
			      <action>adminhtml/system_config/edit/section/onecheckout/</action>
			    </settings>
			</children>
		    </onecheckout>
		</children>
	     </Ip_Extensions>
	</menu>-->
	<acl>
	    <resources>
		<all>
		    <title>Allow Everything</title>
		</all>
		<admin>
		    <children>
			<Ip_Extensions>
			    <title>Ip Extensions</title>
			    <sort_order>71</sort_order>
			    <action>adminhtml/system_config/edit/section/onecheckout/</action>
			</Ip_Extensions>
			<system>
			    <children>
				<config>
				    <children>
					<onecheckout translate="title" module="onecheckout">
					    <title>OneCheckout Section</title>
					</onecheckout>
				    </children>
				</config>
			    </children>
			</system>
		    </children>
		</admin>
	    </resources>
	</acl>
	<layout>
	    <updates>
		<onecheckout>
		    <file>onecheckout.xml</file>
		</onecheckout>
	    </updates>
	</layout>
    </adminhtml>
    <global>
        <models>
            <onecheckout>
                <class>Ip_OneCheckout_Model</class>
            </onecheckout>
        </models>
        <blocks>
            <onecheckout>
                <class>Ip_OneCheckout_Block</class>
            </onecheckout>
        </blocks>
        <helpers>
            <onecheckout>
                <class>Ip_OneCheckout_Helper</class>
            </onecheckout>
        </helpers>
        <resources>
	    <onecheckout_setup>
                <setup>
                    <module>Ip_OneCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onecheckout_setup>
	    <onecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onecheckout_write>
            <onecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onecheckout_read>	
        </resources>
	<events>
	    <controller_action_predispatch_checkout_onepage_index>
		<observers>
		    <ip_onecheckout_observer>
			<type>singleton</type>
			<class>onecheckout/observer</class>
			<method>OneCheckoutRedirect</method>
		    </ip_onecheckout_observer>
		</observers>
	    </controller_action_predispatch_checkout_onepage_index>
	</events>
    </global>
    
    <default>
	<onecheckout>
	    <general>
		<active>1</active>
                
		<enable_register>1</enable_register>
		<enable_login>1</enable_login>
		<update_country>1</update_country>
		<update_state>1</update_state>
		<update_zip>1</update_zip>
		<enable_coupon>1</enable_coupon>
		<enable_newsletter>1</enable_newsletter>
                
	    </general>
	    <design>
                <skin>white_box.css</skin>
	    </design>
	    <extra>
		<enable>1</enable>                
	    </extra>
	</onecheckout>
    </default>
</config>